## <center>IE 345 - K “Introduction to Deep Learning: Fundamentals Concepts” </center>

### Prof. Yuzo
#### INTRODUCTION TO PYTHON FOR DATA ANALYSIS

In [1]:
suma = 0
for num in range (1, 101):
    suma += num
print(suma)

5050

In [2]:
for num in range (1, 10):
    if num%2 == 0:
        print('Even')
    else:
        print('Odd')

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [3]:
even_list = []
for num in range(1, 10):
    if num%2 == 0:
        print('Even')
        even_list.append(num)
    else:
        print('Odd')
print(even_list)
print('Counting even numbers: ')
print(len(even_list))

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
[2, 4, 6, 8]
Counting even numbers:
4

### Simple Operations Including Maths

In [4]:
3 + 4

7

In [5]:
3 * 4

12

In [6]:
12 / 3

4.0

In [7]:
12%3

0

In [8]:
12%7

5

In [9]:
2**3

8

In [10]:
2*3+4

10

In [11]:
4+2*3

10

In [12]:
(4+2)*3

18

In [13]:
str(4) + "I am awesome"

'4I am awesome'

In [14]:
3.0 + 3.0

6.0

In [15]:
float(3) + 3.0

6.0

In [16]:
import numpy as np
from scipy import stats

In [17]:
'I think'
"I think"

'I think'

In [18]:
"She said, 'I am the best'"

"She said, 'I am the best'"

In [19]:
'She said, "I am the best"'

'She said, "I am the best"'

In [20]:
'I am' + 'awesome'

'I amawesome'

In [21]:
'I am' + ' awesome'

'I am awesome'

In [22]:
4 * 'Pyhton '

'Pyhton Pyhton Pyhton Pyhton '

In [23]:
5 * 'math '

'math math math math math '

In [24]:
3**2

9

In [25]:
3 % 2

1

In [26]:
3/2

1.5

In [27]:
'I am number ' + '9'

'I am number 9'

In [28]:
'I am number '+ str(9)

'I am number 9'

### Print Statements

In [29]:
print('This is Python Level Two')

This is Python Level Two

In [30]:
print(3*3)

9

In [31]:
print(3)

3

In [32]:
print('I am number ' + str(9))

I am number 9

In [33]:
x = 9
x

9

In [34]:
myname = 'Thon'
myname

'Thon'

In [35]:
mylanguage = 'Python'
mylanguage

'Python'

In [36]:
print(mylanguage)

Python

In [37]:
x = 3

In [38]:
y = 4

In [39]:
x + y

7

In [40]:
x * y

12

In [41]:
y % x

1

In [42]:
x * 3

9

In [43]:
x + 9

12

In [44]:
y * 3

12

In [45]:
x + y + 3

10

In [46]:
x * 'Python '

'Python Python Python '

In [47]:
x = 3
x

3

In [48]:
x = 9
x

9

In [49]:
x = x + 1
x

10

In [50]:
x = 9

In [51]:
x += 1
x

10

In [52]:
firstfood = 'eggs'

In [53]:
secondfood = 'ham'

In [54]:
thirdfood = 'bread'

In [55]:
firstfood + secondfood + thirdfood

'eggshambread'

### Creating your first program

In [56]:
x = 3
y = 9
print(x + y)

12

In [57]:
firstname = 'Py'
lastname = 'Thon'
multiplier = 2 * 3
print(multiplier * (firstname + lastname))

PyThonPyThonPyThonPyThonPyThonPyThon

In [58]:
myname = 'Thon'
age = 25
hobby = 'programming'
print('Hi, my name is '+ myname + ' and my age is '+ str(age) + '. Anyway, my hobby is '+hobby+ '.')

Hi, my name is Thon and my age is 25. Anyway, my hobby is programming.

### Asking the User for an Input

In [59]:
print('What is your name ?')
myName = input()
print('Your name is ' + myName)

What is your name ?
Juan
Your name is Juan

In [60]:
print('How old are you ?')
myAge = input()
print('My name is '+myName+' and I am '+myAge+' years old.')

How old are you ?
27
My name is Juan and I am 27 years old.

# <center>Python Level Three<center>

In [61]:
8 == 8

True

In [62]:
8 > 4

True

In [63]:
8 < 4

False

In [64]:
8 != 4

True

In [65]:
8 != 8

False

In [66]:
8 >= 2

True

In [67]:
8 <= 2

False

In [68]:
'hello' == 'hello'

True

In [69]:
'cat' != 'dog'

True

### Boolean Operators (and, or, not)

In [70]:
8 > 3 and 8 > 4

True

In [71]:
8 > 3 and 8 > 9

False

In [72]:
8 > 9 and 8 > 10

False

In [73]:
8 > 3 or 8 > 800

True

In [74]:
'hello' == 'hello' or 'cat' == 'dog'

True

In [75]:
not True

False

In [76]:
not False

True

In [77]:
not 8 > 1

False

In [78]:
not 8 > 800

True

### If, Elif and Else Statements

In [79]:
myNumber = input()
if int(myNumber) > 100:
    print('The number is greater than 100.')
else: 
    print('The number is just less than 100.')

75
The number is just less than 100.

In [80]:
savedPassword = 'adm1234'
print('What´s your email ? ')
myEmail = input()
print('Type in your password.')
typedPassword = input()
if typedPassword == savedPassword:
    print('Congratulations! You´re now logged in.')
else:
    print('Your password is incorrect. Please try again.')

What´s ypur email ?
pablodavid218@gmail.com
Type in your password.
adm1234
Congratulations! You´re now logged in.

In [81]:
print('What´s the temperature in your room at night (in Celsius)? ')
roomTemp = int(input())
if roomTemp <= 20 and roomTemp >=15:
    print('Nice. It´s easy to fall asleep if that´s your room´s temperature.')
else: 
    print('Perhaps it´s too cold or too hot. Not ideal.')

What´s the temperature in your room at night (in Celsius)?
25
Perhaps it´s too cold or too hot. Not ideal.

### While Loops

In [82]:
inbox = 0
while inbox < 10:
    print('You have a message.')
    inbox = inbox + 1

You have a message.
You have a message.
You have a message.
You have a message.
You have a message.
You have a message.
You have a message.
You have a message.
You have a message.
You have a message.

In [83]:
inbox = 0
while inbox < 10:
    print(str(inbox)+' You have a message.')
    inbox = inbox + 1

0 You have a message.
1 You have a message.
2 You have a message.
3 You have a message.
4 You have a message.
5 You have a message.
6 You have a message.
7 You have a message.
8 You have a message.
9 You have a message.

In [84]:
name = ' '
while name != 'Casanova':
    print('PLease type your name.')
    name = input()
print('Congratulations!')

PLease type your name.
Pedro
PLease type your name.
juan
PLease type your name.
Casanova
Congratulations!

### For Loops

In [85]:
for i in range(10):
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81

In [86]:
total = 0
for num in range(101):
    total = total + num
print(total)

5050

In [87]:
all_reviews = [5, 5, 4, 4, 5, 3, 2, 5, 3, 2, 5, 4, 3, 1, 1, 2, 3, 5, 5]
positve_reviews = []
for i in all_reviews:
    if i > 3:
        print('Pass')
        positve_reviews.append(i)
    else:
        print('Fall')
print(positve_reviews)
print(len(positve_reviews))
ratio_positive = len(positve_reviews) / len(all_reviews)
print('Percentage of positive reviews: ')
print(ratio_positive * 100)

Pass
Pass
Pass
Pass
Pass
Fall
Fall
Pass
Fall
Fall
Pass
Pass
Fall
Fall
Fall
Fall
Fall
Pass
Pass
[5, 5, 4, 4, 5, 5, 5, 4, 5, 5]
10
Percentage of positive reviews:
52.63157894736842

### Summary and Review

Evaluate if True or False

In [88]:
5 == 5 and 6 != 5

True

In [89]:
2 == 2 or 3 > 5

True

In [90]:
5 >= 5 or 6 > 1

True

Predict the output or result of this block of code

In [91]:
the_list = []
for i in range(0, 11):
    the_list.append(i)
print(the_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
div_three = []
for i in range(1, 50):
    if i%3 == 0:
        div_three.append(i)
print(div_three)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

# <center>Python Level Four<center>

In [93]:
def hello():
    print('Hello world!')
    
hello()

Hello world!

In [94]:
def hi_name(name):
    print('Hi '+ name)

hi_name('Aardvark')

Hi Aardvark

In [95]:
def add_numbers(a, b):
    print(a + b)
    
add_numbers(5, 10)
add_numbers(35, 55)

15
90

In [96]:
def square_number(num):
    print(num**2)

square_number(50)
square_number(9)

2500
81

In [97]:
def even_check(num):
    if num % 2 == 0:
        print('Number is even.')
    else:
        print('Hmm, it is odd.')

even_check(50)
even_check(51)

Number is even.
Hmm, it is odd.

### Scope(Global & Local Variables)

In [98]:
x = 25
def printer():
    x = 50
    return x

print(x)
print(printer())

25
50

### Handling Errors & Exceptions

In [99]:
def spam(divideBy):
    try:
        return 42 / divideBy
    except ZeroDivisionError:
        print('Error: Invalid argument.')

print(spam(2))        
print(spam(12))        
print(spam(0))        
print(spam(1))

21.0
3.5
Error: Invalid argument.
None
42.0

### More Examples & Exercises

In [100]:
def sum_three(a, b, c):
    print(a + b + c)

sum_three(3, 4, 5)

12

In [101]:
def div_three(num):
    if num % 3 == 0:
        print('This is divisible by three.')
    else:
        print('Hmm, nope.')
        
div_three(3)
div_three(5)
div_three(9)
div_three(1013854)

This is divisible by three.
Hmm, nope.
This is divisible by three.
Hmm, nope.

In [102]:
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops! That was no valid number. Try again...")

Please enter a number: cuatro
Oops! That was no valid number. Try again...
Please enter a number: 85

# <center>Python Level Five<center>

### Creating a List

In [103]:
my_list = ['eggs', 'ham', 'bacon']
colours = ['red', 'green', 'blue']
cousin_ages = [33, 35, 42]
mixed_list = [3.14, 'circle', 'eggs', 500]

In [104]:
colours[0]

'red'

In [105]:
colours[1]

'green'

### Slicing the List

In [106]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[0:2])
print(my_list[1:])
print(my_list[3:6])

[0, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5]

In [107]:
len(my_list)

10

### Changing the Values

In [108]:
colours[0] = 'yellow'
print(colours)

['yellow', 'green', 'blue']

In [109]:
colours[1] = 'purple'
colours[2] = 'magenta'
print(colours)

['yellow', 'purple', 'magenta']

### List Operations (Concatenation, Append)

In [110]:
colours = ['red', 'green', 'blue']
colours.append('pink')
print(colours)

['red', 'green', 'blue', 'pink']

In [111]:
even_list = []
for num in range(1, 10):
    if num%2 == 0:
        print('Even')
        even_list.append(num)
    else:
        print('Odd')
        
print(even_list)
print('Counting even numbers: ')
print(len(even_list))

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
[2, 4, 6, 8]
Counting even numbers:
4

In [112]:
fave_series = ['GOT', 'TWD', 'WW']
fave_movies = ['HP', 'LOTR', 'SW']
fave_all = fave_series + fave_movies
print(fave_all)

['GOT', 'TWD', 'WW', 'HP', 'LOTR', 'SW']

In [113]:
level_one = ['shell', 'math', 'data-types']
level_two = ['print', 'variables', 'input']
two_levels = level_one[0:2] + level_two[1:]
print(two_levels)

['shell', 'math', 'variables', 'input']

*Pablo David Minango Negrete*

$pablodavid218@gmail.com$

*Lisber Arana Hinostroza*

$lisberarana@gmail.com$